.table{
    margin-left: 5%;
    margin-top: 20%;
    width: 100%;
  }
  #myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 50%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 2px solid #013243;
    margin-bottom: 12px;
  }
  
  #myTable {
    border-collapse: collapse;
    width: 50%;
    border: 2px solid  #013243;
    font-size: 16px;
  }
  
  #myTable th, #myTable td {
    text-align: left;
    padding: 12px;
  }
  
  #myTable tr {
    border-bottom: 2px solid  #013243;
  }
  
  #myTable tr.header, #myTable tr:hover {
    background-color:#e1e9ec;
  }



